<li class="navbar-brand"><a href="{{ course_path('course_show') }}">{{ course.name }}</a></li>
<li class="nav-item">
    <a class="nav-link" href="{{ course_path('doc_index') }}">Documents</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ course_path('journal_index', {'index':1}) }}">Journal</a>
</li>