{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>My Courses</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td><a href="{{ path('course_show', {'id': course.id}) }}">{{ course.name }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
