{% extends 'base.html.twig' %}

{% block title %}Edit LtiAgs{% endblock %}

{% block subnav %}
    {{ include('course/_subnav.html.twig') }}
{% endblock %}


{% block body %}
    <h1>Edit LtiAgs</h1>

    {{ include('lti_ags/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('lti_ags/_delete_form.html.twig') }}
{% endblock %}
