{% extends 'base.html.twig' %}

{% block title %}New LtiAgs{% endblock %}

{% block subnav %}
    {{ include('course/_subnav.html.twig') }}
{% endblock %}

{% block toolnav %}
    {{ include('course/_coursenav.html.twig') }}
{% endblock %}

{% block body %}
    <h1>Create new LtiAgs</h1>

    {{ include('lti_ags/_form.html.twig') }}

{% endblock %}
