{% extends 'base.html.twig' %}

{% block title %}New Markup{% endblock %}

{% block body %}
    <h1>Create new Markup</h1>

    {{ include('markup/_form.html.twig') }}

    <a href="{{ path('markup_index') }}">back to list</a>
{% endblock %}
