body {
    background-color: #fcfcfc;
}
.navbar {
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #ba0c2f;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dcdcdc;
    z-index: 1000;
}

div.checkbox > label {
    margin-right:2em;
}

label.required {
    margin-right:1em;
}

h1 {
    font-size: 2em;
    display: inline;
}
h2 {
    font-size: 1.5em;
}


/********** Doc display **********/
.note {
    font-size:85%;
    margin-left: .5em;
    margin-right: .5em;
}
.badge {
    font-size: 90%;
}



/********** Accessibility **********/
.skip-link a, .skip-link a:hover, .skip-link a:visited
{
    position:absolute;
    left:0;
    top:-500px;
    width:1px;
    height:1px;
    overflow:hidden;
}

.skip-link a:active, .skip-link a:focus
{
    position:static;
    display: inline-block;
    width:auto;
    height:auto;
    margin-bottom: -10px;
}

/********** Increase Contrast **********/
.btn-primary {
    background-color: #20399D;
    border-color: #20399D;
}

.badge-primary {
    background-color: #20399D;
    border-color: #20399D;
    font-weight: bolder;
}

.btn-danger {
    background-color: darkred;
    border-color: darkred;
}

a {
    color: #20399D;
}