body {
    background-color: #fcfcfc;
}
.navbar {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dcdcdc;
    z-index: 1000;
}

.navbar-light .navbar-nav .nav-link {
    color: #343a40;
}

.navbar-light .navbar-text {
    color: #343a40; font-style: italic;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

div.checkbox > label {
    margin-right:2em;
}

div.radio > label {
    margin-right:2em;
}

label.required {
    margin-right:1em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.5em;
}

.navbar-brand {
    color: black;
    font-family: Arial;
}

.table td, .table th, .table tr {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6 !important;
}

a {
    text-decoration: none;
    color: #343a40;
}

/********** badge listing for stage, markup, and buttons **********/
.table td a.badge, .table td a.btn, .card-header a.btn {
    text-decoration: none;
    color: #fff;
}

.table td a.badge:hover, .table td a.btn:hover, .card-header a.btn:hover {
    text-decoration: underline;
    color: #fff;
}


/********** doc, journal, and course listing **********/
.table td a, .card-header a {
    text-decoration: none;
    color: #20399D;
}

.table td a:hover, .card-header a:hover {
    text-decoration: underline;
    color: #20399D;
}



/********** Accessibility **********/
.skip-link a, .skip-link a:hover, .skip-link a:visited
{
    position:absolute;
    left:0;
    top:-500px;
    width:1px;
    height:1px;
    overflow:hidden;
}

.skip-link a:active, .skip-link a:focus
{
    position:static;
    display: inline-block;
    width:auto;
    height:auto;
    margin-bottom: -10px;
}

/********** Increase Contrast **********/
.btn-primary {
    background-color: #434747;
    border-color: #434747;
}

.btn-primary:hover {
    background-color: #ba0c2f;
    border-color: #ba0c2f;
}

.btn-sm {
    padding: .5rem .6rem;
    font-size: .875rem;
    line-height: .85;
    border-radius: .2rem;
}

.bg-default {
    background-color: #20399D;
    border-color: #20399D;
    font-weight: bolder;
    text-decoration: none;
}

.bg-default:hover {
    background-color: #20399D;
    border-color: #20399D;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.btn-danger {
    background-color: darkred;
    border-color: darkred;
}


.pointer {cursor: pointer;}

/********** Pagination **********/
.pagination > span {
    padding: 1em;
}

.page-link {
    color: #20399D;
}

.page-item.active .page-link {
    background-color: #20399D;
    border-color: #20399D;
}