<form class="d-inline float-end" method="post" action="{{ course_path('app_ratingset_delete', {'id': ratingset.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ratingset.id) }}">
    <button aria-label="Cancel this action" class="btn btn-primary btn-sm">Cancel</button>
</form>