{% extends 'base.html.twig' %}

{% block title %}New Ratingset{% endblock %}

{% block body %}
    <h1>Create new Ratingset</h1>

    {{ include('ratingset/_form.html.twig') }}

    <a href="{{ path('app_ratingset_index') }}">back to list</a>
{% endblock %}
