{% extends 'base.html.twig' %}

{% block title %}Lti{% endblock %}

{% block body %}

<div class="">
    <h1>LTI Login</h1>
    {{ lti_message }}
    {{ registration }}
    {{ validationResults }}

</div>
{% endblock %}
