{% for score in scores %}
    <div class="card mt-3">
        <div class="card-header">
            Final Grade {% if column %}for {{ column }}{% endif %}
        </div>
        <div class="card-body">
            {{ score.comment|raw }}
        </div>
        <div class="card-footer">
            Grade: {{ score.resultScore }}
        </div>
    </div>
{% endfor %}
