{% extends 'base.html.twig' %}

{% block title %}Gradebook Results{% endblock %}

{% block body %}
    <h1>Gradebook Results</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Get Results') }}</button>
    {{ form_end(form) }}
{% endblock %}
