{% extends 'base.html.twig' %}

{% block title %}Term Edit - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Edit Term</h1>

    {{ include('term/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('term_index') }}">Index</a>

    {{ include('term/_delete_form.html.twig') }}
{% endblock %}
