{% extends 'base.html.twig' %}

{% block title %}eLW Homepage{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4" style='color:#ba0c2f; font-family: "serif"; '>eLearning for Writers</h1>
        <p class="lead" style="opacity: 0">Learn together.  Write better.</p>
        <hr class="my-4">
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="btn btn-primary" href="{{ path('course_index') }}">UGA MyID Login</a>
        {% endif %}
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
<script>
    $(document).ready(function () {
        $(".lead").animate({
            opacity: '1'
        }, "slow");
    });
</script>

{% endblock %}
