{% extends 'base.html.twig' %}

{% block title %}ELW Homepage{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>eLC for Writing</h1>
    {% if data %}
    {% for obj in data %}
    {{ obj }}
    {% endfor %}
    {% endif %}
    {% if user %}
        {% for obj in user %}
            {{ obj }}
        {% endfor %}
    {% endif %}
    {% if val %}{{ val }}{% endif %}


</div>
{% endblock %}
