{% extends 'base.html.twig' %}

{% block title %}New Card{% endblock %}

{% block body %}
    <h1>Create new Card</h1>

    {{ include('card/_form.html.twig') }}

    <a href="{{ path('card_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ckeditor.js') }}"></script>
    <script>
        let editor;
        ClassicEditor.create(document.getElementById("card_body"), {
            toolbar: {
                items: [
                    'undo', 'redo',
                    'bold', 'italic', 'strikethrough', '|',
                    'bulletedList', 'numberedList', '|',
                    'outdent', 'indent', '|',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|'
                ],
                shouldNotGroupWhenFull: true
            },
        })
            .then(newEditor => {
                editor = newEditor;
            });
    </script>
{% endblock %}
