<form class="d-none" id="delete-form" method="post" action="{{ course_path('journal_delete', {'id': doc.id}) }}" onsubmit="return confirm('Are you sure you want to delete this Journal entry?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ doc.id) }}">
    <button >Delete</button>
</form>
