{% extends 'base.html.twig' %}

{% block title %}Edit Access{% endblock %}

{% block body %}
    <h1>Edit Access</h1>

    {{ include('access/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('access_index') }}">back to list</a>

    {{ include('access/_delete_form.html.twig') }}
{% endblock %}
