.navbar-dark {
  background-color: #1d1d1d !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-text {
  color: white; font-style: italic;
}

.dark h1 {
  color: white;
}

.dark h2 {
  color: white;
}

.dark h3 {
  color: black;
}

.dark .jumbotron h2 {
  color: black;
}

.dark .jumbotron p {
  color: black;
}

.dark .card h1 {
  color:black;
}

.dark .card h2 {
  color:black;
}

.dark table {
  background-color: white;
}

.dark .card > * {
  color: black;
}

.dark .card-body > * {
  color: black;
}

.dark .modal-content > * {
  color: black;
}

.dark .document-editor {
  color:black;
}

.dark .alert {
  color:black;
}

.dark .btn-primary {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  color:black;
}

.dark .filter {
  color:white;
}

.dark p {
  color:white;
}

