{% extends 'base.html.twig' %}

{% block title %}Labelset Edit - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Edit Label Set</h1>

    {{ include('labelset/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('labelset/_delete_form.html.twig') }}
{% endblock %}
