{% extends 'base.html.twig' %}

{% block title %}Labelset New - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Create New Labelset</h1>

    {{ include('labelset/_form.html.twig') }}

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            {% if not is_granted('ROLE_ADMIN') %}
            $('#labelset_level').hide();
            $('#labelset_level').prev().hide();
            {% endif %}
        });
    </script>
{% endblock %}
