{% extends 'base.html.twig' %}

{% block title %}Edit Classlist{% endblock %}

{% block body %}
    <h1>{{classlist.user.firstname}} {{classlist.user.lastname}} in {{ classlist.course.name }}</h1>

    {{ include('classlist/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
