{% extends 'base.html.twig' %}

{% block title %}Edit Classlist{% endblock %}

{% block body %}
    <h1>Edit Classlist</h1>

    {{ include('classlist/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('classlist/_delete_form.html.twig') }}
{% endblock %}
