{% extends 'base.html.twig' %}

{% block title %}Markup Set Edit- {{ parent() }}{% endblock %}

{% block body %}
    <h1>Edit Markup Set</h1>

    {{ include('markupset/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('markupset/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            {% if not is_granted('ROLE_ADMIN') %}
            $('#markupset_level').hide();
            $('#markupset_level').prev().hide();
            {% endif %}
        });
    </script>
{% endblock %}