{% extends 'base.html.twig' %}

{% block title %}Markupset index{% endblock %}

{% block body %}
    <h1>Markup Sets</h1>
    <a class="btn btn-primary float-right" href="{{ path('markupset_new') }}">New Label Set</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody>
        {% for markupset in markupsets %}
            <tr>
                <td><a href="{{ path('markupset_show', {'id': markupset.id}) }}">{{ markupset.name }}</a></td>
                <td>{{ markupset.level }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
