{% extends 'base.html.twig' %}

{% block title %}New Markupset{% endblock %}

{% block body %}
    <h1>Create new Markupset</h1>

    {{ include('markupset/_form.html.twig') }}

    <a href="{{ path('markupset_index') }}">back to list</a>
{% endblock %}
