{% extends 'base.html.twig' %}

{% block title %}Markup Set New - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Create New Markup Set</h1>

    {{ include('markupset/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ckeditor.js') }}"></script>
    <script>
        $(document).ready(function () {
            {% if not is_granted('ROLE_ADMIN') %}
            $('#markupset_level').hide();
            $('#markupset_level').prev().hide();
            {% endif %}
        });
    </script>
    <script>
        let editor;
        ClassicEditor.create(document.getElementById("markupset_description"), {
            toolbar: {
                items: [
                    'undo', 'redo',
                    'bold', 'italic', 'strikethrough', '|',
                    'bulletedList', 'numberedList', '|',
                    'outdent', 'indent', '|',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|'
                ],
                shouldNotGroupWhenFull: true
            },
        })
            .then(newEditor => {
                editor = newEditor;
            });
    </script>
{% endblock %}