{% extends 'base.html.twig' %}

{% block title %}Rubric New - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Create New Rubric</h1>

    {{ include('rubric/_form.html.twig') }}

{% endblock %}
