{% extends 'base.html.twig' %}

{% block title %}New Doc{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/ckeditor_document.css') }}">
{% endblock %}

{% block body %}
    <h1>Create new Doc</h1>

    {{ include('doc/_form.html.twig') }}

    <a href="{{ path('doc_index') }}">back to list</a>
{% endblock %}


