{% extends 'base.html.twig' %}

{% block title %}New Doc{% endblock %}

{% block body %}
    <h1>Create new Doc</h1>

    {{ include('doc/_form.html.twig') }}

    <a href="{{ path('doc_index') }}">back to list</a>
{% endblock %}
