<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/ckeditor_document.css') }}">
    <style>

    </style>
</head>
<body>


<div class="document-editor">
    {{ doc.body|raw }}
</div>
</body>


<script>
    $(document).ready(function () {
        }
    );
</script>
</html>