<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap.min.css')) }}">
    <link type="text/css" rel="stylesheet" href="{{ absolute_url(asset('css/local.css')) }}">
    <link type="text/css" rel="stylesheet" href="{{ absolute_url(asset('css/ckeditor_document.css')) }}">
</head>
<body>
{{ doc_html|raw }}
</body>
</html>