<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ absolute_url(asset('css/local.css')) }}">
    <link type="text/css" rel="stylesheet" href="{{ absolute_url(asset('css/ckeditor_document.css')) }}">
    <style>
        div.document-editor {
            width: 6.5in;
            min-width: 6.5in;
            min-height: 11in;
            margin: -.5in;
            margin-bottom: -1.2in;
            padding: 1in;
            border: 0;
            border-radius: 0;
            background: white;
            box-shadow: 0;
            font-size: 12pt;
            font-family: Arial, Verdana, sans-serif;
        }
    </style>
</head>
<body>
<div class="document-editor">
    {{ doc.body|raw }}
</div>
</body>

</html>